# Base de données
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=market_data

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL_SECONDS=60

# Binance
BINANCE_BASE_URL=https://api.binance.com
BINANCE_MAX_CANDLES_PER_REQUEST=1000
BINANCE_RATE_LIMIT_PER_MINUTE=1200

# App
LOG_LEVEL=INFO
ENVIRONMENT=development
